/*--------- ĐỈNH CAO COPY --------------- */
body {
    font-family: "Roboto",Tahoma,sans-serif;
}
/*
ul {
    list-style: none;
}
*/

.hidden {
    display: none;
}

a {
    color: #555;
    text-decoration: none;
    outline: none;
}
.green_color {color: green;}
.margin-top-10 {margin-top: 10px;}
.float_r {float:right;}
.float_l {float: left;}
.margin-bottom-15 {margin-bottom: 15px;}
.margin-bottom-10 {margin-bottom: 15px;}
.margin-right-5 {margin-right:5px;}
.padding-5 {padding: 5px;}
.color-light {color: #000; cursor: pointer; font-size: 16px;}
.color-light:hover {color: #fff;}
.position-data {position: absolute; right: 160px;}
/*--------------------------------------- */
.height-full {height: 100%;}
#learn-page #player-container .lambaitracnghiem .danhsachcauhoi .cau1 {padding-top: 25px;}
#learn-page {
    background: #2c2f37 none repeat scroll 0 0;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 129;
}
.full-wrapper {
    margin: 0 auto;
    padding-left: 0!important;
    padding-right: 0!important;
    position: relative;
    max-width: none;
}
.clearfix:before, .clearfix:after {
    display: block;
}
.content-wr {
    float: left; 
    width:70%
}
.pb20 {padding-bottom: 20px;}
.pb40 {padding-bottom: 40px;}
.content {position: relative;}
#player-container {background: #2c2f37 none repeat scroll 0 0; color: #84848c; position: relative;}
#player-container::before {
    left: 180px;
    content: "";
    display: block;
    height: 100%;
    position: fixed;
    top: 0;
    width: 5px;
}
.player-header {height: 50px; left: 0; position: absolute; top: 0; width: 100%;}
.scorm-view-back {left: 15px;}
.scorm-view-back, .scorm-prev {font-size: 13px; font-weight: bold; height: 20px; line-height: 20px; margin-top: -10px; padding-left: 22px; top: 50%;}
.scorm-prev, .scorm-next, .scorm-view-back, .learn-panel-close, .scorm-learn-count {
    color: #84848c;
    display: block;
    position: absolute;
    text-align: center;
}
.full-wrapper .struct-menu {
    height: 100%;
    position: absolute;
    right: 50px;
    top: 0;
}
.struct-menu {float: right; position: relative;}
.full-wrapper .struct-menu-title {
    background: transparent none repeat scroll 0 0;
    border-radius: 4px 4px 0 0;
    color: #84848c;
    cursor: pointer;
    display: block;
    font-size: 13px;
    font-weight: 500;
    height: 30px;
    left: 0;
    line-height: 30px;
    margin-top: -15px;
    padding: 0 20px 0 38px;
    position: relative;
    font-weight: bold;
    top: 50%;
}

#lp-content-wr {
    position: relative;
}

.learn-panel-close {
    font-size: 22px;
    margin-top: -11px;
    right: 10px;
    top: 50%;
}
.scorm-prev, .scorm-next, .scorm-view-back, .learn-panel-close, .scorm-learn-count {
    color: #84848c;
    display: block;
    position: absolute;
    text-align: center;
}
.player-rp {
    background: #000 none repeat scroll 0 0;
    bottom: 60px;
    position: absolute;
    top: 50px;
    width: 100%;
    overflow: auto;
}
.player-footer {
    bottom: 0;
    height: 60px;
    left: 0;
    position: absolute;
    width: 100%;
}
.scorm-learn-count {
    display: block;
    font-size: 13px;
    font-weight: 700;
    left: 10px;
    line-height: 20px;
    margin-top: -10px;
    top: 50%;
}

.scorm-next {
    background: #393c44 none repeat scroll 0 0;
    border: 1px solid #000;
    box-shadow: 1px 0 0 rgba(255, 255, 255, 0.1);
    color: #ababae;
    font-size: 13px;
    height: 28px;
    line-height: 27px;
    margin-left: -54px;
    margin-top: -16px;
    text-transform: uppercase;
    top: 50%;
    width: 110px;
}

.scorm-next::after {
    /*border-color: #393c44 transparent transparent;*/
    border-width: 7px 8px 0;
    content: "";
    left: 50%;
    margin-left: -8px;
}

.scorm-next:before, .scorm-next:after {
    /*border-style: solid;*/
    content: "";
    display: block;
    height: 0;
    position: absolute;
    top: 100%;
    width: 0;
    z-index: 2;
}

.scorm-next::before {
    border-color: #000 transparent transparent;
    border-width: 10px 12px 0;
    content: "";
    left: 50%;
    margin-left: -12px;
}

.scorm-prev, .scorm-next, .scorm-view-back, .learn-panel-close, .scorm-learn-count {
    color: #84848c;
    display: block;
    position: absolute;
    text-align: center;
}
#player-container::before, .scorm-prev, .scorm-next {
    left: 180px;
}

a.ask-a-question {
    position: absolute;
    display: block;
    text-align: center;
    font-size: 13px;
    height: 28px;
    line-height: 27px;
    margin-left: -100px;
    margin-top: -16px;
    text-transform: uppercase;
    top: 50%;
    left: 320px;
    padding: 0;
}
.sidebar-first, .sidebar-second, .fixsb {
    height: 100%;
    position: relative;
    z-index: 2;
}
.sidebar-second {
    float: right;
    width: 30%;
    background: #fff;
}
.learn-page-info {
    background: #fff none repeat scroll 0 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    position: relative;
}
.learn-page-tabs {
    background: #FFF;
    border-bottom: 1px solid #e2e2e2;
    margin: 0;
    padding: 0;
}
/*.learn-page-panels {
    border-left: 1px solid #e2e2e2;
    bottom: 35px;
    overflow-y: auto;
    position: absolute;
    top: 40px;
    width: 100%;
    font-size: 13px;
}*/

.load_more_data {
    font-size: 12px;
    cursor: pointer;
}

.load_more_data {
    font-size: 12px;
    cursor: pointer;
}

#course-outline-panel,#course-documents-panel,#course-cm-panel, #course-notee-panel {
    border-left: 1px solid #e2e2e2;
    bottom: 0px;
    overflow-y: auto;
    position: absolute;
    top: 40px;
    width: 100%;
    font-size: 13px;
}

.learn-page-tabs {
    background: #FFF;
    border-bottom: 1px solid #e2e2e2;
    margin: 0;
    padding: 0;
}

.learn-page-tabs > li {
    float: left;
    list-style: outside none none;
    text-align: center;
    width: 25%;
}
.learn-page-tabs .lpt-tt {
    display: none;
}
.learn-page-tabs > li > a {
    border-right: 1px solid #e2e2e2;
    display: block;
    padding: 10px;
}

.section-right-name {
    background: #e6e6e6 none repeat scroll 0 0;
    border-bottom: 1px solid #d5d4d4;
    font-size: 12px;
    font-weight: bold;
    margin: 0;
    padding: 10px 20px 10px 10px;
    position: relative;
    z-index: 2;
    cursor: pointer;
    line-height: 16px;
    text-align: left;
}

.section-right-name:before {
    content: "";
    display: block;
    height: 11px;
    margin-top: -5px;
    position: absolute;
    right: 6px;
    top: 50%;
    width: 11px;
}

.num-scorm-tooltip {
    background: #ff7e00 none repeat scroll 0 0;
    border-radius: 10px;
    color: #fff;
    display: block;
    font-size: 9px;
    height: 15px;
    line-height: 16px;
    margin-top: -7px;
    padding: 0 5px;
    position: absolute;
    right: 5px;
    text-align: center;
    top: 50%;
}
.learn-outline-list {
    font-size: 13px;
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.learn-outline-item {
    border-bottom: 1px solid #d5d4d4;
    margin: 0;
    padding: 0;
}
.learn-lesson-wr {
    color: #4c4c4c;
    display: block;
    padding: 9px 10px 9px 40px;
    position: relative;
}
.scorm-section-right-action:before, .learn-lesson-wr:before {
    background: #e6e5e5 none repeat scroll 0 0;
    content: "";
    display: block;
    height: 100%;
    left: 20px;
    position: absolute;
    top: 0;
    width: 1px;
}
.lesson-process-wr {
    background-color: #fff;
    border: 1px solid #54b551;
    border-radius: 10px;
    display: block;
    height: 20px;
    left: 20px;
    margin-left: -10px;
    padding: 1px;
    position: absolute;
    top: 7px;
    width: 20px;
    z-index: 1;
}
.scorm-right-name.here:before {
    /*background: rgba(0, 0, 0, 0) url(../images/speak-icon.png) no-repeat scroll right center;*/
    content: "";
    display: block;
    height: 11px;
    margin-top: -5px;
    position: absolute;
    right: 0;
    top: 50%;
    width: 11px;
}
.scorm-right-name {
    font-size: 13px;
    font-weight: 500;
    margin: 0 0 10px;
}
.scorm-right-action > li {
    float: left;
    margin-right: 20px;
    list-style: none;
}
.scorm-learn-times {
    display: block;
    min-width: 70px;
}
.scorm-right-action {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.learn-page-tabs > li.active > a, .learn-page-tabs > li > a:hover {
    background: #2a86c7;
    color: #FFF;
}

#learn-page .ui-resizable-handle {
    background: #fff url(/images/three-dots.png) no-repeat scroll center center;
    cursor: e-resize;
    display: block;
    height: 60px;
    margin-top: -30px;
    opacity: 0.95;
    position: absolute;
    right: 0;
    top: 50%;
    width: 15px;
    z-index: 9;
}

#learn-page .ui-resizable-handle::before {
    border-color: transparent transparent #fff;
    border-style: solid;
    border-width: 0 0 18px 15px;
    content: "";
    display: block;
    height: 0;
    position: absolute;
    right: 0;
    bottom: 100%;
    width: 0;
}

#learn-page .ui-resizable-handle::after {
    border-color: transparent #fff transparent transparent;
    border-style: solid;
    border-width: 0 15px 18px 0;
    content: "";
    display: block;
    height: 0;
    position: absolute;
    right: 0;
    top: 100%;
    width: 0;
}
.scorm-learn-panel-content {
    padding: 10px 10px;
}
.learn-scorm-documents {
    margin: 15px 0 0;
    padding: 0;
}
.learn-scorm-documents > li {
    border: 1px solid #bbb;
    font-size: 14px;
    font-weight: 300;
    list-style: outside none none;
    margin: 15px 0 0;
}
.learn-scorm-document {
    color: #333;
    display: block;
    padding: 8px 34px 8px 10px;
    position: relative;
}
.learn-scorm-document .fa-download, .learn-scorm-document em {
    border-left: 1px solid #bbb;
    bottom: 0;
    color: #5ea5d5;
    display: block;
    padding: 10px;
    position: absolute;
    right: 0;
    top: 0;
}
.warning-lession {
    float: right;
    line-height: 60px;
    margin-right: 15px;
    color: #fff;
}

.warning-lession:hover {
    color: blue;
}


.scorm-learn-panel-content .danhsachdanhgia {
    left: 0;
    width: 100%;
    overflow: auto;
    top: 82px;
    height: 100%;
}

.scorm-learn-panel-content .danhsachdanhgia .danhgia1 {
    margin-top: 5px;
}

.scorm-learn-panel-content .danhsachdanhgia .danhgia1 .ava {
    display: block;
    float: left;
    width: 30px;
    height: 30px;
    overflow: hidden;
}

.scorm-learn-panel-content .danhsachdanhgia .danhgia1 .ava img {
    display: block;
    width: 100%;
    height: auto;
    min-height: 100%;
}
.scorm-learn-panel-content .danhsachdanhgia .danhgia1 .thongtin {
    padding: 0 0 0 35px;
    min-height: 40px;
    margin-bottom: 10px;
}

.scorm-learn-panel-content .danhsachdanhgia .danhgia1 .thongtin .noidungdanhgia{
    float: left;
    margin: 0px 0px 0px 5px;
    font-size: 13px;
    line-height: 19px;
}

.scorm-learn-panel-content .danhsachdanhgia .danhgia1 .thongtin span {
    float: left;
}

.scorm-learn-panel-content .danhsachdanhgia .danhgia1 .thongtin .btnTraloi {
    font-size: 12px;
    margin-left: 5px;
    float:left;
}

.scorm-learn-panel-content .danhsachdanhgia .phanhoi {
    margin: 10px 0px 10px 41px;
}

.scorm-learn-panel-content .danhsachdanhgia .danhgia1 .thongtin h6 a {
    font-size: 11px;
    color: #6186c6;
    font-weight: bold;
}

.comment-learn-cotent .vietdanhgia .nhapnoidung input{
    width: 100%;
    height: 30px;
    font-size: 12px;
    padding: 5px;
}
#sidebar-second {
    position: relative;
}

.comment-learn-cotent .thongtin {
    background: #F6F7F9;
}

.comment-learn-cotent .danhsachdanhgia .danhgia1 .thongtin .thoigian {
    font-size: 12px;
    margin-left: 10px;
    float:left;
}

.comment-learn-cotent .danhsachdanhgia .phanhoi {
    display: none;
}
.player-header #title_lession {
    float: right;
    width: 78%;
    margin-top: 10px;
    color: #aaaaaa;
    font-weight: bold;
    font-size: 16px;
}

.passed_lession {
    background: #6e81ec !important;
}

.player-header #title_lession p {
    line-height: 28px;
}

.lesson-process-wr span {
    margin: 0px 0px 0px 4px;
    color: white;
}
.lesson-process-wr span i {
    margin-top: 1px;
}

#player-container a:hover {
    color: #2196F3;
    background: #ddd;
}

.logo a:hover {
    background: rgba(170, 170, 170, 0) !important;
    opacity: 1;
}

.logo img:hover {
    opacity: 1 !important;
}

.warning-lession:hover {
    color: #fff !important;
    background: transparent !important;
}

.player-footer .fa-toggle-off,.fa-toggle-on {
    margin-top:16px;
}

.data-note-posit {
    position: absolute;
    top: 35px;
    width: 100%;
}
.note_comment {
    width:100%;
    margin-bottom: 10px;
}
.hr-height {
    margin-top: 5px;
    margin-bottom: 5px;
}
.each_note {margin-top: 10px;}
.label_note {display: none;}
/*CSS cho trang tao khoa hoc*/
/*CSS cho trang tao khoa hoc*/
/*CSS cho trang tao khoa hoc*/
/*CSS cho trang tao khoa hoc*/
/*CSS cho trang tao khoa hoc*/
/*CSS cho trang tao khoa hoc*/
.side-nav-wrapper {
    background: #f4f4f4;
}
.course-manage-container {
    padding: 30px 60px 0px 60px;
}

.course-manage-container .main_container {
    border: 1px solid #bfbfbf;
    display: flex;
}
.course-manage-container .course-manage__side-nav {
    width: 260px;
    /*padding: 10px 0 0;*/
    position: relative;
}
.course-manage-container .bg-light-grey {
    background-color: #f4f4f4;
}
.course-manage-container .nav-tabs.nav-steps {
    counter-reset: steps;
}
.course-manage-container .nav-tabs.nav-stacked {
    position: relative;
    padding-top: 10px;
    padding-bottom: 20px;
}
.course-manage-container .nav-tabs {
    padding-top: 7px;
    border: 0;
}
.course-manage-container .nav {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}
.course-manage-container .nav:after, .nav:before {
    content: " ";
    display: table;
}
.course-manage-container .nav-tabs.nav-stacked .sub-nav>ul>li.active, .nav-tabs.nav-stacked>li.active {
    /*    border-left: 5px solid #17aa1c;
        padding-left: 5px;*/
}
.course-manage-container .nav-tabs.nav-stacked .sub-nav>ul>li, .nav-tabs.nav-stacked>li {
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
.course-manage-container .nav-tabs>li {
    /*padding: 0 15px;*/
}
.course-manage-container .nav-stacked>li {
    float: none;
}
.course-manage-container .nav>li, .nav>li>a {
    position: relative;
    display: block;
}
.course-manage-container .nav-tabs.nav-steps>li {
    padding-left: 10px;
}
.course-manage-container .nav-tabs.nav-stacked>li.active>a {
    color: rgba(0,0,0,.8);
}
.course-manage-container .nav-tabs.nav-steps>li>a {
    position: relative;
    counter-increment: steps;
    padding-left: 35px;
    /*margin-right: 10px;*/
}
.course-manage-container .nav-tabs.nav-stacked .sub-nav>ul>li>a, .nav-tabs.nav-stacked>li>a {
    margin-top: 10px;
    color: rgba(0,0,0,.8);
    display: block;
    padding: 5px 20px 5px 10px;
    border-bottom: none!important;
}
.course-manage-container .nav-tabs.nav-steps .sub-nav>ul>li>a:before, .nav-tabs.nav-steps>li>a:before {
    display: inline-block;
    content: counter(steps);
    border: 1px solid #bfbfbf;
    margin-right: 5px;
    margin-left: -25px;
    font-size: .9em;
    height: 1.4em;
    line-height: 1.2em;
    width: 1.4em;
    border-radius: 50%;
    color: #bfbfbf;
    text-align: center;
}
.course-manage-container .nav-tabs>li>a {
    border-radius: 0;
}
.course-manage-container .form-header {
    position: relative;
    padding: 15px 45px;
    border-bottom: 1px solid #bfbfbf;
}

.course-manage-container .form-header > h2 {
    font-size: 22px;
    text-transform: uppercase;
}
.course-manage-container .center-content {
    width: 60%;
    border-right: 1px solid #bfbfbf;
}
.course-manage-container .form-header button, .bottom_group_button button {
    border-radius: 0px;
    padding: 10px;
    width: 80px;
}
.form-container {
    padding: 45px;
}
.course_manage .labeled {
    padding-bottom: 40px;
}
.input-group-addon:last-child {
    border-left: 0;
}
.ch-count {
    padding: 5px;
    margin-top: 2px;
    margin-right: 2px;
    border-radius: 0;
    border: none;
}
.ch-count {
    position: absolute;
    background: #e5e7ea;
    color: #636b6f;
    font-size: 14px;
    font-weight: 700;
    padding: 0 5px;
    right: 3px;
    top: 3px;
    line-height: 32px;
    width: 34px;
    text-align: center;
    z-index: 3;
    border: 0;
}
.input-group-addon-number {
    width: 5%;
    white-space: nowrap;
    vertical-align: middle;
}
.manage-fields-wrapper input[type=text] {
    padding: 20px;
    border-radius: 0;
    font-weight: normal;
    font-size: 18px;
}

.manage-fields-wrapper select {
    padding: 10px;
    border-radius: 0;
    font-weight: normal;
}

.pos-r {
    position: relative;
}
.labeled > label {
    font-weight: 500;
    font-size:16px;
}
#category_pick {
    width: 300px;
    float: left;
    height: 42px;
}
#level-student {
    width: 300px;
    float: right;
    height: 42px;
}

.basic-course-middle .form-group {
    margin-right: 0px;
    margin-left: 0px;
}

.tooltip-reference {display: block;}

.line-bottom {
    border-top : 1px solid #bfbfbf;
}
.list_item_course {
    background: #f1f1f1;
    height: auto;
    border: 1px solid #ababae;
    padding: 5px 15px;
    margin-bottom: 20px;
}

.list_item_course .remove-chapter {
    position: absolute;
    right: -16px;
    top: -34px;
    background: #fff;
    border: 1px solid #ccc;
    width: 20px;
    height: 16px;
    color: red;
    text-align: center;
    cursor: pointer;
    border-bottom: 0;
}

.unc_each_item_lecture {
    padding: 10px;
    border: 1px solid #000;
    background: #fff;
    margin-top: 15px;
}
.unc_each_item_lecture .fa-plus {
    color: green;
}
.unc_each_item_lecture .fa-play-circle {
    color: red;
}
.unc_each_item_lecture .fa-trash {
    color: red;
}
.unc_each_item_lecture .fa-pencil {
    color: blue;
}
.unc_each_item_lecture .fa-step-forward {
    color: green;
}

.unc_each_item_lecture .fa-exclamation-triangle {
    color: #e4e415;
}


#create-course-form-curriculum-list {
    position: relative;
}

#create-course-form-curriculum-list .fa-check-circle {
    color: green;
}
.ui-state-highlight { height: 40px; line-height: 1.2em; border: 1px solid #ecdc14; margin-bottom: 10px; margin-top: 15px;}
.div_content_show_action {
    border-top : 1px solid #000;
    margin-top: 10px;
    display: none;
}
.div_content_show_action .content_choose {
    padding : 5px;
    font-size: 12px;
    background: #fff;
}

.ud-curriculumform .div_content_show_action .content_choose .block_choose {
    display: block;
    margin: auto;
    width: 200px;
}

.div_content_show_action .square_block {
    display: inline-block;
    width: 70px;
    height: 60px;
    background: #ececec;
    box-shadow: inset 0 1px 0 hsla(0,0%,100%,.45);
    position: relative;
    /*border: 1px solid #d1d1d1;*/
    overflow: hidden;
    margin: 10px 15px 0;
    text-align: center;
    cursor : pointer;
    position: relative;
}
.div_content_show_action .square_block i {
    margin-top: 5px;
}
.lecture_each_footer button {
    padding: 5px;
    display: block;
    width : 200px;
    background: #fff;
    border: 1px solid #ccc;
    margin: 10px auto 5px auto;
}
.lecture_each_footer button i {color: green;}
.footer_genarate .button_group_footer {
    width:100%;
    margin-top: 10px;
}
.footer_genarate .add_chapter, .add_quiz {
    width: 49.7%;
    padding: 10px;
    border: 1px solid #ccc;
    color: green;
    background: #fff;
    text-align: center;
}

.footer_genarate .add_chapter:hover, .add_quiz:hover {
    background-color: #f7f7f7;
    border-color: rgba(0,0,0,.2);
}

#learn-panel-close:hover {
    color: #fff !important;
    background: transparent !important;
}

#scorm-view-back:hover {
    color: #fff !important;
    background: transparent !important;
}

.span-btn {
    padding: 5px;
    border: 1px solid #ccc;
    cursor: pointer;
    background: #fff;
}
.lecture_input_block, .chapter_input_block {
    margin: 10px 0px 10px 0px;
    border: 1px solid #ccc;
    background: #fff;
    padding: 10px;
}
.edit_pencil_title {
    margin-left: 5px;
    padding: 4px;
    width: 84%;
}

/* Absolute Center Spinner */


/*Mobile CSS for page learn*/
@media only screen and (max-device-width: 414px) {
    .sidebar-second {
        width: 100%;
        float: none;

    }

    .player-header #title_lession p {margin-top: -10px;}

    #learn-page {
        background: #fff;
    }

    .height-full {
        height: 30px;
    }

    #learn-page .ui-resizable-handle {
        display : none !important;
    }

    #learn-panel-close {display:none;}
    .content-wr {
        width: 100%;
        float: none;
    }


    #title_lession p {
        font-size: 13px;
    }
    .scorm-view-back {display: none;}
    .player-header #title_lession {
        float: left;
        width: 100%;
        text-align: center;
        /*margin-left: 24px;*/
    }
    #scorm-view-back {display: none;}
    #scorm-view-back_mobile {display: block; position: absolute; top:8px; left:6px}
    #learn-page {
        position: absolute;
    }
    .scorm-learn-count {display:none;}
    .player-header {position: relative;}
    .scorm-next {position: relative; margin-left: 5px; left: 0;}
    .scorm-prev-mobile {position: absolute; left: 120px !important;}
    .player-footer .fa-toggle-off, .fa-toggle-on {margin-top: 2px; color: #fff;}
    .mobile-hide {display: none;}
    #lp-content-wr {height: 27%;}
    .ask-a-question {display: none !important;}
    .mobile_navi {
        line-height: 40px;
        font-weigt:bold;
        color: #aaaaaa;
    }
    .btn-prev-mobile {margin-left: 10px;}
    .btn-share-mobile {margin-left: 40px;}
    .warning-lession {margin-top: 18px;}
    .for-desktop {display: none;}
    .player-rp {position: relative; top: 20px;}
    .auto_play_text {margin-left:38px;}
    .for-mobile{display: block !important; background: #2c2f37 none repeat scroll 0 0}
    .logo img {display: none;}
    .adv_location {display: none;}
    .comment-learn-cotent .vietdanhgia .nhapnoidung input {
        width: 80%;
        float: left;
    }
    .comment-learn-cotent .discusstion_submit {
        display: block !important;
        margin-left: 10px;
        float: left;
        width: 15%;
        height: 30px;
    }
    .note_comment {
        width:76%;
        float: left;
    }
    .note_comment_submit {
        display: block !important;
        margin-left: 10px;
        height: 32px;
        width: 15%;
        float: left;
    }
}

@media only screen and (max-device-width: 375px) {
    #lp-content-wr { height: 30%; }
}

@media only screen and (max-device-width: 480px) {
    #lp-content-wr { height: 32%;}
    .sidebar-second {
        margin-top: 45px;
    }
}

@media only screen and (max-device-width: 320px) {
    #lp-content-wr {height: 36%;}
    .btn-share-mobile {margin-left: 5px;}
    .auto_play_text {margin-left:18px;}
}

.spinner {
    position: absolute;
    left: 50%;
    top: 50%;
    height:60px;
    width:60px;
    margin:0px auto;
    -webkit-animation: rotation .6s infinite linear;
    -moz-animation: rotation .6s infinite linear;
    -o-animation: rotation .6s infinite linear;
    animation: rotation .6s infinite linear;
    border-left:6px solid rgba(0,174,239,.15);
    border-right:6px solid rgba(0,174,239,.15);
    border-bottom:6px solid rgba(0,174,239,.15);
    border-top:6px solid rgba(0,174,239,.8);
    border-radius:100%;
    z-index: 1;
    display: none;
}

@-webkit-keyframes rotation {
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(359deg);}
}
@-moz-keyframes rotation {
    from {-moz-transform: rotate(0deg);}
    to {-moz-transform: rotate(359deg);}
}
@-o-keyframes rotation {
    from {-o-transform: rotate(0deg);}
    to {-o-transform: rotate(359deg);}
}
@keyframes rotation {
    from {transform: rotate(0deg);}
    to {transform: rotate(359deg);}
}
.explain_data {width: 300px;}
.explain_data b {width: 100%; font-size: 14px;}
.explain_padding {padding: 20px;}
.color-dark {color:#000;}
#learn-page .player-rp .adv_location{
    position: absolute;
    height: 100px;
    width: 100%;
    bottom: 35px;
}

#learn-page .player-rp .adv_location img {
    height: 100px;
    display: block;
    margin: auto;
    width: 750px;
}
#learn-page .show_up_content_detail {
	display: none;
    margin: auto;
    display: block;
    background: #fdfdfd;
    height: 20px;
    width: 40px;
    border-radius: 0px 0px 5px 5px;
}
#learn-page .show_up_content_detail .fa-chevron-down, .fa-chevron-up {
    text-align: center;
    font-size: 18px;
    display: block;
    margin: auto;
    cursor: pointer;
}
#learn-page .content_show_action {
    overflow: auto;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.85);
    position: absolute;
    top: 0;
    z-index: 9999;
    display: none;
    color: #fff;
}
.discusstion_submit {
    display: none;
}
.note_comment_submit {
    display: none;
}

.parent-comment{
    margin-top: 10px;
}

.learn-each-comment-block .picture_comment {
    width: 32px;
    height: 32px;
    float: left;
    border: 1px solid #ccc;
}

.learn-each-comment-block .parent-comment .content-commend {
    float: left;
    width: 84%;
    font-size: 12px;
    margin-left: 10px;
    line-height: 16px;
}

.learn-each-comment-block .parent-comment .content-commend p {
    line-height: 16px;
    margin: 0 0 0px;
}

.learn-each-comment-block .parent-comment .content-commend .response {
    cursor: pointer;
    color: #365899;
    text-decoration: none;
    font-size: 12px;
}

.learn-each-comment-block .parent-comment .content-commend .time_comment {
    color: #90949c;
    text-decoration: none;
    font-size: 12px;
    margin-left: 10px;
}

.children_comment .learn-each-comment-block {
    margin-left: 5px;
}

.children_comment .comment_children {
    margin : 5px 0px 0px 5px;
    width: 95%;
    padding: 2px;
}

.children_comment .content_around_children{
    border-left : 2px solid #ccc;
    margin-left: 20px;
}

.learn-each-comment-block .parent-comment b {
    color: #365899;
    text-decoration: none;
}
.introduct_dashboard {
    height: 100px;
    background: #576a73;
    vertical-align: middle;
    color: #fff;
    font-weight: bold;
    font-size: 21px;
    text-transform: uppercase;
}
.introduct_dashboard > b {
    line-height: 100px;
    margin-left: 58px;
}
.lambaitracnghiem .dung {color:green}
.ketquatracnghiem h4 {color:#fff; text-align: center;}
.ketquatracnghiem .tenbai {color:#fff; text-align: center;}
.ketquatracnghiem .diemso {color:#fff; text-align: center;}
.ketquatracnghiem .tiletraloidung {color:#fff; text-align: center; font-size: 40px;}
/*-------------------     CSS for Course_teacher        -------------------- */
.main_container .left_course_index {
    width: 30%;
    border-right: 2px solid #ccc;
    padding: 5px;
}